<div class="backdrop">
</div>

<nav class="user-navbar">
  <% if user_logged_in? %>
    <ul class="personal">
      <li>
        <a href="<%= api_user_recipe_boxes(current_user) %>">Recipe Boxes</a>
      </li>
      <li>
        <a href="">Shopping List</a>
      </li>
      <li>
        <a href="<%= api_user_menus(current_user) %>">Menus</a>
      </li>
    </ul>
  <% end %>
</nav>

<div>

</div>
<!-- <script>$(FallRecipes.initialize);</script> -->