// Place all the styles related to the api/photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';

div.photo-frame {
  display: inline-block;
  height: 100%;
}

div.photo-frame > img {
  height: 250px;
  width: 250px;
  margin: 0 20px 0 0px;
  border: 7px solid $content-background;
  box-shadow: 0 0 .5em gray;
}

img.avatar {

}

img.thumb {
  height: 50px;
  width: 50px;
  border: 1px solid $content-line-strong;
  margin: 5px 8px 0 0;
}