
$button-background: #B66E75;
$button-background-hover: #E16554;
$button-color: #FFFEFE;

$content-background: #FFFEFE;

$h-color: #473247;

$body-background: #473247;

$header-color: #FFFEFE;

$input-background: #FFFEFE;
$input-color: #BFC1C0;
$input-border: 1px solid #F0F0F0;

$link-color: #EE4644;
$link-color-hover: #473247;


$menu-background: #5F4E59;

$menuitem-background: #B66E75;
$menuitem-background-hover: #E16554;

$toolbar-background: #ECECEC;

$tool-color: #6C6C6C;
$tool-color-hover: #4C4C4C;


$static-text-color: #B66E75;



