/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'colors';


* {
  font-family: inherit;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

form {
}

::-webkit-input-placeholder { font-style: italic; }
::-moz-placeholder { font-style: italic; } /* firefox 19+ */
:-ms-input-placeholder { font-style: italic; } /* ie */

html {
  background: $page-background;
  font-family: sans-serif;
  height: 100%;
}

body {
  display: block;
  margin: auto;
  width: 900px;
  background: $body-background;
  min-height: 100%;
  box-shadow: 0px 0px 1em lightgray;
}

#page {
  display: block;
  background: $body-background;
  height: 100%;
}

#page > #content {
  display: inline-block;
  padding: 20px 10px;
  width: 70%;
}

#page > #content-sidebar {
  float: right;
  border: 1px solid black;
  width: 30%;
  height: 500px;
}

.window {
  display: block;
}

*.hidden {
  display: none;
}

.errors {
  font-size: 12px;
  color: red;
}

a, button.link, label.link {
  background: none;
  display: inline-block;
  color: $link-color;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

a:hover, button.link:hover, label.link:hover {
  color: $link-color-hover;
  background: none;
  cursor: pointer;
}

a.button, button {
  background: $button-background;
  color: $button-color;
  border: none;
  padding: 10px 5px;
  font-size: 18px;
}

a.button:hover, button:hover {
  background: $button-background-hover;
}

a.home {
  float: left;
  height: 100%;
}

input.search-box {
  position: relative;
  border: 1px solid $menu-background;
  border-radius: 3px;
  padding: 5px 25px 5px 5px;
  width: 100px;
}

button.search {
  position: absolute;
  color: black;
  background: none;
  font-size: 30px;
  font-weight: bold;
  top: -18px;
  right: 0px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

button.search:hover {
  color: red;
  cursor: pointer;
};

h1, h2, h3, h4, h5 {
  color: $header-color;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

img.logo {
  display: block;
  width: 150px;
  margin: auto;
}

input {
  background: $input-background;
  padding: 10px 5px;
  border: $input-border;
  font-size: 14px;
}

div.modal-container {
  position: fixed;
  height: 100%;
  width: 100%;
}

div.modal-layer {
  position:fixed;
  top: -2px;
  left: 0;
  right: 0;
  z-index: 9999;
  border: 1px solid transparent;
  background: rgba(0, 0, 0, 0.25);
  max-height: 100%;
  overflow: hidden;
}

div.modal-layer > .window {
  position: relative;
  left: -250px;
  margin: 200px 0 100% 50%;
  width: 500px;
}

.window {
  background: $content-background;
}


.dropdown {
  position: relative;
}

.dropdown > menu {
  display: none;
  position: absolute;
  top: 100%;
  background: $body-background;
  font-size: 12px;
}

.dropdown > menu > hr {
  margin: 0px 10px;
}

.dropdown:hover > menu {
  display: block;
  padding: 1px;
}

.dropdown > menu > menuitem {
  margin: 1px;
  background: $menu-background;
}

nav.sitenav {
  padding: 0px 20px;
  font-size: 20px;
}

nav.sitenav > menu {
  height: 55px;
}

nav.sitenav menuitem {
  display: inline-block;
  height: 100%;
  padding: 10px 20px;
}

nav.sitenav menuitem > a {
  display: inline-block;
  background: none;
  color: $h-color;
  text-align: bottom;
  vertical-align: bottom;
}

nav.sitenav menu a:after {
  position: relative;
  display: inline-block;
  width: 2px;
  top: 2px;
  left: -2px;
  font-size: 25px;
  content: '›';
  color: $button-background-hover;
}

nav.sitenav a:hover {
  background: none;
  color: $menu-background;
}

nav.usernav {
  background: $menu-background;
}

nav.sitenav menu a:hover:after {
  content: '»';
}

nav.sitenav form.search {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}

nav.usernav form {
  display: inline-block;
}

nav > menu, menu menu, menu > menuitem {
  display: inline-block;
}

nav.usernav menuitem {
  padding: 10px 20px;
}

nav.usernav a, nav.usernav button.link {
  font-size: 16px;
  color: $button-color;
}

nav.usernav a:hover, nav.usernav button.link:hover {
  color: $button-background-hover;
}

.right {
  float: right;
}

.window > .content {
  width: 100%;
  padding: 10px 20px 20px 20px;
  background: $content-background;
}

.window .logo {
  margin: auto;
}

.window > .toolbar {
  display: block;
  height: 40px;
  width: 100%;
  background: $toolbar-background;
}

.window > .toolbar > menuitem {
  float: right;
  height: 100%;
  width: 40px;
  padding: 10px;
}

.window > .toolbar > menuitem > button {
  background: none;
  border: none;
  color: $tool-color;
  height: 20px;
  width: 20px;
  padding: 0;
  font-size: 18px;
}

.window > .toolbar > menuitem > button:hover {
  background: none;
  cursor: pointer;
  color: $tool-color-hover;
}

.login form.login {
  width: 50%;
}

.login form.login > * {
  margin: 10px auto;
  width: 100%;
}

.login form.login > p {
  text-align: center;
}
