<form class="search">
  <i>
    <p>
      To filter your search results, use a plus (+) before any terms you want to require, a minus (-) before any terms you want to exclude, and double-quotes ("") around any phrases you want matched.
    </p>
    <p>
      Example: (+grape -"grape nuts") would return 'grapes' and 'grape jelly' but not 'grape nuts'
    </p>
  </i>
  <label>
    <input name="criteria[recipe][name]" placeholder="Search">
    <ul class="recipe-args">
    </ul>
  </label>
  <label>
  </label>

  <button>Find Recipes</button>

  <div class="expander">
    <label for="search_expander">Advanced</label>
    <input id="search_expander" type="checkbox">
    <div class="content">
      
    </div>
  </div>
  <label>
    Results per Page
    <input name="limit" type="number" value="20">
  </label>

  <input name="page" type="number" value="1">

  <table class="recipe-table">
    <colgroup>
      <col span=6>
    </colgroup>
    <thead>
      <tr>
        <th id="sort-name" class='sorter'>
          <input id="name" name="sort_asc[name]" type="checkbox">
          <label for="name">Name</label>
        </th>
        <th id="sort-username" class='sorter'>
          <input id="username" name="sort_asc[users.username]" type="checkbox">
          <label for="username">Author</label>
        </th>
        <th id="sort-prep_time" class='sorter'>
          <input id="prep_time" name="sort_asc[prep_time]" type="checkbox">
          <label for="prep_time">Prep Time</label>
        </th>
        <th id="sort-cook_time" class='sorter'>
          <input id="cook_time" name="sort_asc[cook_time]" type="checkbox">
          <label for="cook_time">Cook Time</label>
        </th>
        <th id="sort-servings" class='sorter'>
          <input id="servings" name="sort_asc[servings]" type="checkbox">
          <label for="servings">Servings</label>
        </th>
        <th id="sort-created_at" class='sorter'>
          <input id="created_at" name="sort_asc[created_at]" type="checkbox">
          <label for="created_at">Date</label>
        </th>
      </tr>
    </thead>
    <tbody>
      
    </tbody>
  </table>
</form>

