<div class="summary-box">
  <img class="image"></img>
  <h1><%= recipe.name %></h1>
  <meter class="score" value="<%= recipe.score %>">
  <p><%= recipe.desc %></p>
</div>
<menu class="recipe-menu">
  <menuitem>Recipe Box</menuitem>
  <menuitem>Shopping List</menuitem>
  <menuitem>Menu</menuitem>
  <menuitem>Email</menuitem>
  <menuitem>Print</menuitem>
</menu>
<div class="ingredient-box">

</div>
<div>