<form class="search">
  <label>
    <input name="criteria[name]" placeholder="Search">
  </label>




  <div class="advanced hidden">
    <ul class="ingredients">

    </ul>
    <ul class="tags">
      <% search.tags.forEach(function (tag) { %>
        <li class="<%= tag[0] %>">
          <%= (tag[0] != '+' && tag[0] != '-' ? tag : tag.substring(1))%>
          <>
        </li>
      <% }); %>
    </ul>
    <ul class="users">
    </ul>
  </div>
</form>